<phpunit colors="true">
    <testsuites>
        <testsuite name="ELNSMWAdapterUI">
            <directory>tests/phpunit</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">includes</directory>
        </include>
    </coverage>
</phpunit>
