<div class="elnsmwadapterui-processing">
	<div class="elnsmwadapterui-processing__status">
		{{{progressBar}}}
		<p>{{statusText}}</p>
	</div>
	<div class="elnsmwadapterui-processing__error"></div>
</div>
