<div class="elnsmwadapterui-form-actions elnsmwadapterui-form__actions">
	<input type="submit" value="{{submitLabel}}" class="mw-ui-button mw-ui-progressive elnsmwadapterui-submit-button elnsmwadapterui-form__submit">
</div>
